<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="https://build.phonegap.com/plugins"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.armorking5.bluetooth"
    version="0.5.0">

    <name>Bluetooth</name>
    <description>Bluetooth Communication Plugin (forked from Tom van Enckevort's Bluetooth Serial Plugin)</description>
    <author>armorking5</author>
	<license>Apache 2.0</license>
    <keywords>bluetooth,communication</keywords>
    <repo>https://github.com/armorking5/Bluetooth.git</repo>
    <issue>https://github.com/armorking5/Bluetooth/issues</issue>

    <engines>
        <engine name="cordova" version=">=2.9.0" />
    </engines>

    <asset src="www/bluetooth.js" name="js/bluetooth.js"/>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="Bluetooth">
                <param name="android-package" value="com.armorking5.cordova.Bluetooth"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/armorking5/cordova/Bluetooth.java"
            target-dir="src/com/armorking5/cordova"/>
        <source-file src="src/android/com/armorking5/cordova/BluetoothService.java"
            target-dir="src/com/armorking5/cordova"/>

        <!-- kludge for 2.9 -->
        <source-file src="src/android/org/apache/cordova/api/Dummy.java"
            target-dir="src/org/apache/cordova/api"/>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>

    </platform>
</plugin>
